@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project that is to test and help gain my understanding of ASP.Net Core</p>
</div>
