@page
@model LibraryCatalog.Pages.LoginModel
@{
    ViewData["Title"] = "Login";

    @functions{

        public void LoadRegisterPage()
        {
            RedirectToPage("Register");
        }

    }
}



<div class="text-center">
    <h1 class="display-5">Login</h1>
    <p>Please enter your Username / Password</p>
    <br/>
    <form method="post">
        Username:
        <input type="text" name="Username" autocomplete="username"/>
        <br/>
        <br/>
        Password:
        <input type="password" name="Password" autocomplete="current-password"/>
        <br/>
        <br/>
        <input type="submit" name="Login" class="btn btn-primary"/>
    </form>
    <br/>
    <p>Don't have an account? Register below!</p>
    <a href="/register" class="btn btn-secondary">Register</a>
</div>
