@page
@model LibraryCatalog.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="text-center">
    <h1 class="display-5">Register</h1>
    <p>Please enter your requested Username, Password and Email</p>
    <br/>
    <form method="post">
        Username:
        <input type="text" name="Username" autocomplete="username"/>
        <br/>
        <br/>
        Password:
        <input type="password" name="Password" autocomplete="current-password"/>
        <br/>
        <br/>
        Email:
        <input type="email" name="Email"/>
        <br/>
        <br/>
        <input type="submit" name="Register"/>
    </form>
</div>
